[BEGINVDF]
Comment=[v3.0.1] Passive Manaregeneration 1% / sec. Starts at 50 maximum Mana, configurable.
BaseDir=.\
VDFName=.\ManaReg.vdf

[FILES]
; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\ManaReg\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
